<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit the contact here</h1>

<p>Name :<%=contact.Name%></p>
<p>Contact Number: <%=contact.phoneNumber%></p>
<hr>

<form action="/contact/contactEdit/<%=contact.id%>?_method=PATCH" method="post">
    <input type="text" required placeholder="Enter the new Name" name="Name">
<input type="text" required placeholder="Enter the new Number" name="phoneNumber">

<button type="submit">Update contact</button>
</form>


</body>
</html>