<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create new board</h1>
    <br>
    <form action="/work/workShow/<%=work.id%>" method="post">
    <input type="text" required placeholder="title" name="boardTitle"><br>
    <input type="text" required placeholder="date" name="boardDate">
    <input type="text" required placeholder="description" name="boardDesc">
    <button type="submit">Create board</button>
    </form>
<script>
console.log(`<%=work.id%>`);


</script>


</body>
</html>