<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create new contact</h1>
    <br>
    <form action="/contact/contactNew" method="post">
    <input type="text" required placeholder="Enter the Name of contact" name="Name"><br>
    <input type="text" required placeholder="Enter the phone number of contact" name="phoneNumber">
    <button type="submit">Create Contact</button>
    </form>
</body>
</html>